* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  padding: 20px 0 40px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#turn {
  font-size: 1.7rem;
}

#board {
  background-color: black;
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.6rem;
}

.board-house {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: white;
}

#start {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
}
